@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
  font-style: normal;
}

body{
    font-family: "Karla", sans-serif;
}